/* home style */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 40pt;
  text-align: center;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

/* styles for poster1 */

.poster1 {
  background-color: #5DA661;
  margin: 0;
  padding: 0;
  ont-family: sans-serif;
 
  } 
  

.poster1 .col, .middle {
  display: inline-block;
  vertical-align: middle;

}

.poster1 .col {
  width: 10vw;
  margin-top: 65vh;
  margin-bottom: 10vw;

}

.poster1 .middle {
  width: 33.33vw;
  font-size: 12vw;
  text-align: center;
  line-height: 0.8;
  margin-top: -5vw;
  color: white;


}

.poster1  hr {
  margin: .25em 15%;
  border-top: 3px solid white;

}

.poster1  p {
  font-size: .85vw;
  margin:  0em 3;
  text-align: left;
  font-weight: bold;

}

#footer-left{ 
  font-size: .5vw;
  text-align: left;
 }

 #footer-right { 
  font-size: .5vw;
  text-align: left;

  }

/* styles for poster2 */

.poster2 {
  background-color: #78203C;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.poster2 .one,
.poster2 .two,
.poster2 .three,
.poster2 .four,
.poster2 .five,
.poster2 .text-left
.poster2 .text-right {
  margin: 0;
  padding: 0;
  color: #739499;
  font-size: 8vw;
  line-height: 0.1;
}

.poster2 .one {
  letter-spacing: 230px;
}

.poster2 .two {
  letter-spacing: 100px;
  text-align: center;
}

.poster2 .three {
  letter-spacing: 230px;
}

.poster2 .four {
  letter-spacing: 100px;
  text-align: left;
  margin-left: 380px;
}

.poster2 .five {
  text-align: left;
  margin-left: 30vw; 
  line-height: .8;
  width: 10%;
  margin-top: 0;
}

.poster2 .text-left {
  text-align: right;
  line-height: 1.2;
  width: 10%; 
  float: right;
  font-size: 8pt;
  margin-left: 20px; 
  margin-top: -21%;
  margin-right: 48%;
  color: #739499;
}

.poster2 .text-right {
  text-align: left;
  line-height: 1.2;
  width: 15%; 
  float: right;
  font-size: 8pt;
  margin-left: 20px; 
  margin-top: -21%;
  margin-right: 30%;
  color: #739499;
}


/* styles for poster3 */

.poster3 { 
  background-color:#D3D2CD;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
background color: #D2D1CD;
 }

.poster3 .top-left{ 
  margin-left: 1%;

 }

.poster3 .bottom-left { 

    font-size: 36px;
    font-weight: bold;
    margin-top:30%;
    float:left;
    margin-left: 1%;
}

.poster3 .bottom-middle { 

    font-size: 18px;
    
    margin-top:29%;
    float:left;
    margin-left: 20%; 
  }

  
.poster3 .bottom-right {

    font-size: 16px;
    margin-top:-17%;
    float: right;
    margin-left: 60%;
    margin-right: 15%; 
  }

.poster3 .top-gray {
    height: 4vw;
    width: 4vw;
    background: gray;
    position: absolute;
    right: 40vw;
    top: 10vh;
}

.poster3 .bottom-gray {
    height: 4vw;
    width: 4vw;
    background: gray;
    position: absolute;
    right: 40vw;
    top: 50vh;
}

.poster3 .blue {
    height: 4vw;
    width: 4vw;
    background: #30508C;
    position: absolute;
    bottom: 60vh;
    left: 30vw;
}

.poster3 .black-left {
    height: 4vw;
    width: 4vw;
    background: black;
    position: absolute;
    bottom: 60vh;
    left: 36vw;
}


.poster3 .red {
    height: 4vw;
    width: 4vw;
    background: #B72634;
    position: absolute;
    bottom: 60vh;
    right: 40vw;
}


.poster3 .black-right {
    height: 4vw;
    width: 4vw;
    background: black;
    position: absolute;
    bottom: 60vh;
    right: 29vw;
}


.poster3 .yellow {
    height: 4vw;
    width: 4vw;
    background: #D2B746;
    position: absolute;
    bottom: 60vh;
    right: 15vw;
}



/* styles for poster4 */

/* General Reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f8f7f3;
}

/* Font Family */
.december div,
.december p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

/* Specific Styles */
.december .coll,
.december .collm {
    width: 25vw;
    padding-left: 1vw;
    font-weight: 500;
    font-size: 3.5vw;
    background-color: #f8f7f3;
    position: absolute;
}

.december .collm {
    width: 58vw;
    left: 28vw;
}

.december .colrm {
    position: absolute;
    left: 52vw;
    font-weight: 500;
    font-size: 3.5vw;
}

.december .colr {
    position: absolute;
    padding-right: 4vw;
    left: 75vw;
    font-weight: 500;
    font-size: 3.5vw;
    
}

.december .smallcoll {
    position: absolute;
    top: 9vh;
    left: 65vw;
    text-align: right;
    font-size: 16px;
}

.december .smallcolr {
    position: absolute;
    top: 9vh;
    left: 76vw;
    text-align: left;
    font-size: 16px;
}

/* Text Color Styles */
.december p.blue1,
.december p.blue2,
.december p.blue3 {
    color: #2e92d0;
}

.december p.yellow1,
.december p.yellow2 {
    color: #dcab32;
}
.orange1 {
    text-align: right;
}


.december p.orange1,
.december p.orange2,
.december p.orange3 {
    color: #e65e20;
   
}

.december p.green1,
.december p.green2 {
    color: #4fa963;

}
.green1 {
    text-align: right;
}

.black1 {
    text-align: right;
}
.blue1{
text-align: right; 
}
.blue2{
text-align: right; 
}
.blue3{
text-align: left; 
}
.yellow1{
text-align: right; 
}
.yellow2{
text-align: left; 
}
.black2{
text-align: left; 
}
.orange2 {
    text-align: left;
}
.orange3 {
    text-align: left;
}
.green2 {
    text-align: left;
}
/* Margin-top to move down other divs */
.december div:not(.smallcoll):not(.smallcolr) {
    margin-top: 500px; /* Adjust as needed */
}


