body { 
margin: 0;
padding: 0;
 }

/*home */
body {
    font-family: sans-serif;
    font-size: 40pt;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
}


/*colombia */

.colombia div{
	width: 100vw;
	height: 100vh;

}
.colombia div.first {
	background-color: #FCD116;
	height: 50vh;
}
.colombia div.second {
	background-color: #003893;
	height: 25vh;
}
.colombia div.third {
	background-color: #CE1126;
	height: 25vh;
}

/*paulu */


.dot {
	height: 500px;
  width: 500px;
  background-color: #FFFF00;
  border-radius: 100%;
  display: inline;
  margin-left: -400px;
  margin-top: 250px;
  position: absolute;
}

.fill { 
background-color: #0099FF;
width: 100vw;
height: 100vh;

}



/*madagascar */

.madagascar div.red { 
	 background-color: #F9423A;
  height: 50vh;
  width: 66.66vw;
  margin-left: 33.33vw;
  margin-top: 0;

} 



.madagascar div.green {
 background-color: #00843D;
  height: 50vh;
  width: 66.66vw;
  margin-left: 33.33vw;
  margin-top: 0;
}







/*belgium */


.belgium div {
  width: 100vw;
  height: 100vh;
}

.belgium div.black {
  background-color: #2D2926;
  height: 100vh;
  width: 33.33vw;
  margin-left: 0;
}

.belgium div.yellow {
  background-color: #FFCD00;
  height: 100vh;
  width: 33.33vw;
  left: 33.33%; 
  position: absolute;
  top: 0;
}

.belgium div.red {  
  background-color: #C8102E;
  height: 100vh;
  width: 33.33vw;
  left: 66.66%; 
  position: absolute;
  top: 0;
}

/*  sweden */



.sweden div {
  width: 100vw;
  height: 100vh;
}

.sweden div.yellow {
  background-color: #FFCD00;
  height: 100vh;
  width: 15vw;
  left: 40%;
  position: absolute;
  top: 0;
}

.sweden div.blue {
  background-color: #006AA7;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.sweden div.horizontal-stripe {
background-color: #FFCD00;
  height: 20vh;
  width: 100vw;
  position: absolute;
  top: 40%;


/*  tonga */






