body, html {
    height: 100%;
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: red;
}


.stationary-circle, .rotating-circle {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

.stationary-circle {
    background-color: #3498db;
}

.rotating-circle {
    background-color: #9b59b6;
}
